@model IEnumerable<Infotrack.Models.ScraperModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Previous Search Results</h1>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.input)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paid_ads)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.input)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.paid_ads)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
